.header-right {
  position: relative;
  left: 46vw;
}

@media screen and (max-width: 812px) and (min-width: 375px) {
  .header-right {
    position: relative;
    left: 8vw;
  }
}

.option {
  padding: 10px 15px;
  cursor: pointer;
  text-decoration: none;
  color: #6b6291;
}

.nav-btn {
  box-shadow: 0 0 0 1px #6b6291 inset !important;
  color: #6b6291 !important;
  background: transparent !important;
}

.nav-btn-sec {
  color: #fff !important;
  background-color: #6b6291 !important;
}

.header {
  height: 80px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.header-menu-bars {
  margin-left: 2rem;
  font-size: 2rem;
  background: none;
}

@media screen and (min-width: 670px) {
  .header-menu-bars {
    visibility: hidden;
  }
}

@media screen and (max-width: 670px) {
  .options {
    visibility: hidden;
  }
}
