.header-right {
  position: relative;
  left: 35vw;
}

.option {
  padding: 10px 15px;
  cursor: pointer;
  text-decoration: none;
  color: #6b6291;
}

.for-btn {
  position: relative;
  right: 0%;
}

#nav-btn {
  box-shadow: 0 0 0 1px #6b6291 inset ;
  color: #6b6291 ;
  background: transparent ;
}

#nav-btn-sec {
  color: #fff;
  background-color: #6b6291;
}

.header {
  height: 80px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

@media screen and (max-width: 670px) {
  .options {
    display: none;
  }

  .for-btn {
    display: block;
    margin-bottom: 30px;
    margin-left: 70px;
  }

  .logo-container {
    position: absolute;
    right: 76%;
    top: 3%;
  }
}

.logo-container {
  text-shadow: #6b6291;
  color: #6b6291;
  font-weight: bold;
  margin-left: 50px;
}

