body {

    background-color: #F9F9F9;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Helvetica","Segoe UI", "Roboto", "Oxygen",
      "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
#custom-btn {
  background-color: #6b6291;
  color: #fff;
}

#custom-icon {
  color: #6b6291;
}