#my-container {
  position: relative;
  margin-left: 3%;
  margin-right: 3%;
}

#free-trial-btn {
  color: #fff;
  background-color: #6b6291;
  padding: 4%;
}

#services-dark {
  width: 100%;
  height: 151px;
  background: #716e7e;
  border-radius: 5px;
}

#services-dark i.icon {
  margin-top: 17%;
  margin-left: 20%;
  color: #fff;
  box-shadow: 1px #fff;
}

#services-dark-text {
  color: #fff;
  margin-top: 10%;
  margin-left: 20%;
}

#services-light {
  width: 100%;
  height: 151px;
  background: #c4c4c4;
  border-radius: 5px;
}

#services-light i.icon {
  margin-top: 17%;
  margin-left: 50%;
  color: #fff;
}

#services-light-text {
  color: #fff;
  margin-top: 10%;
  margin-left: 50%;
}

.services-card {
  width: 100%;
  height: 151px;
  background-color: #63b7f3;
  color: #fff;
  border-radius: 5px;
  box-shadow: 5px 5px #6b6291;
}

#align-header {
  margin-left: 10px;
  color: #fff;
  margin-bottom: 0;
}

.services-card > p {
  margin-left: 10px;
  margin-right: 10px;
}
